
$color: blue;

.tab {
  padding-top: 80px;
  position: relative;
  overflow: hidden;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  max-width: 1500px;
}
.tabs {
  display: flex;
  gap: 30px;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
  border-bottom: 2px solid rgba(157, 174, 182, 0.5);
  list-style: none;
  margin-top: 50px;

  a {
    color: #6d7a80;
    font-weight: 600;
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 22px;
  }
}

.tabs_item {
  display: none;
  padding: 30px 0;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
  &:first-child {display: flex;}

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
    flex: 1 1 calc(50% - 20px);

    thead {
      tr {
        &:hover {
          background-color: #fff;
        }
      }
    }

    th {
      padding: 16px;
      text-align: left;
      color: $mainColor;
      font-size: 22px;
    }

    td {
      padding: 16px;
      text-align: left;
      border-bottom: 1px solid #ddd;

      &:first-child {
        font-weight: bold;
        font-size: 16px;
        transition: .4s;
      }

      &:last-child {
        text-align: right;
        font-size: 16px;
        color: $mainColor;
        transition: .4s;
      }
    }

    tbody {
      tr {
        transition: .4s;
        &:hover {
          background-color: $mainColor;
          transition: .4s;

          td {
            &:first-child {
              font-weight: bold;
              font-size: 16px;
              color: #fff;
              transition: .4s;
            }

            &:last-child {
              text-align: right;
              font-size: 18px;
              color: #fff;
              transition: .4s;
            }
          }
        }
      }
    }
  }

}

.current a {
  color: $mainColor;
}