.wrapperservices__section{
  h1{
    font-size: 64px;
    line-height: 120%;
    max-width: 600px;
  }

  .container__text{
    margin-top: 80px;
    max-width: 70%;
    text-align: justify;
    p{
      font-size: 19px;
    }

    button{
      background-color: $mainColor;
      padding: 20px 50px;
      color: #FFF;
      border: none;
      font-size: 18px;
      margin-top: 40px;
      border: 1px solid $mainColor;
      transition: .4s;
      text-transform: uppercase;
      letter-spacing: 1.2px;

      &:hover{
        color: $mainColor;
        background-color: #FFF;
        transition: .4s;
      }
    }
  }
}