.blog__section__page{

  h1{
    font-size: 64px;
  }
  .container__flex-title{
    display: flex;
    align-items: center;
    justify-content: space-between;

    a{
      font-size: 20px;
      color: #000;
      padding: 10px;
      transition: 0.4s ease;
      position: relative;


      &:hover {
        color: $mainColor;
      }

    }
  }

  .container__blog{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
      .blog__item{
        width: 100%;
        min-height: 300px;
        background-size: 150%;
        color: #FFF;
        display: flex;
        align-items: end;
        padding: 30px;
        position: relative;
        transition: .4s;
        flex: 1 1 calc(25% - 20px);

        h3{
          z-index: 2;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
          z-index: 1;
        }

        &:hover {
          background-size: 180%;
          transition: .4s;
        }
      }
    }

}


@media screen and (max-width: 900px){
  .blog__section__page{

    h1{
      font-size: 150em;
    }

    .container__blog{

      .blog__item{
        min-width: 300px;
        flex: 1 1 calc(33.33% - 20px);

        h3{
          z-index: 2;
          font-size: 20px;
        }
      }
    }
  }
}


@media screen and (max-width: 578px){
  .blog__section__page{

    .container__blog{

      margin-top: 20px;
      .blog__item{
        min-width: 100%;
        flex: 1 1 calc(100%);

        h3{
          z-index: 2;
          font-size: 20px;
        }
      }
    }
  }
}