.about__section{
  .about__container{
    display: flex;
    gap: 20px;
    margin-top: 50px;

    .about__item{
      flex: 1 1 calc(25%  - 20px);
      border: 1px solid rgba(157, 174, 182, .2);
      padding: 30px;

      img{
        max-width: 70px;
      }

      h5{
        margin-top: 60px;
        font-size: 23px;
        line-height: 120%;
      }
      p{
        margin-top: 20px;
        font-size: 17px;
        line-height: 140%;
        color: #6d7a80;
        text-align: justify;
      }
    }
  }
  p{
    margin-top: 40px;
    max-width: 100%;
    text-align: justify;
    font-size: 20px;
    line-height: 140%;
    color: #6d7a80;
  }
}



@media screen and (max-width: 578px)
{
  .about__section{

    .about__container{
      margin-top: 20px;
    }

    p{
      font-size: 70em;
      margin-top: 20px;
    }
  }
}