.blog__section, .blog__section__page{
  .container__flex-title{
    display: flex;
    align-items: center;
    justify-content: space-between;

    a{
      font-size: 20px;
      color: #000;
      padding: 10px;
      transition: 0.4s ease; // Плавный переход для всех изменений
      position: relative;


      // Стили при наведении
      &:hover {
        color: $mainColor;
      }

    }
  }

  .container__blog{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: stretch;

    .blog__item{
      flex: 1 0 calc(25% - 20px);
      min-height: 300px;
      background-size: 150%;
      color: #FFF;
      display: flex;
      align-items: end;
      padding: 30px;
      position: relative;
      transition: .4s;

      h3{
        z-index: 2;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        z-index: 1;
      }

      &:hover {
        background-size: 180%;
        transition: .4s;
      }
    }
  }
}