footer{
  background-color: #F0F4F5;
  padding: 30px 0px;
  margin-top: 80px;

  .container__footer{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    .logo{
      max-width: 40%;

      h2{
        font-size: 48px;
        font-weight: 500;
        margin-top: 0;
      }

      .slogan{
        margin-top: 20px;
        color: $mainColor;
        font-size: 18px;
        font-weight: 600;
      }
      p{
        margin-top: 20px;
      }

    }

    .nav__footer{

      ul{
        list-style: none;
        li{
          margin-bottom: 10px;
          a{
            font-size: 18px;
            font-weight: 500;
            color: #000;
            text-transform: uppercase;
          }
        }
      }
    }

    .social{

      display: flex;
      justify-content: end;
      .cont{

        a{
          font-size: 30px;
          color: #000;
        }

        .social__icons{
          display: flex;
          justify-content: end;
          gap: 10px;
          a{
            img{
              max-width: 40px;
            }
          }
        }
      }


    }
  }

  .container__footer__bottom, .copyrights{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    a{
      font-size: 15px;
      text-decoration: underline;
      font-weight: 500;
      color: #000;
    }
  }

  .container__footer__bottom{
    margin-top: 30px;
  }

}