.form__section{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  margin-top: 80px;
  gap: 40px;

  .flex__item-form{
    flex: 1 1 calc(50% - 40px);
    max-height: 700px;
    img{
      height: 100%;
      object-fit: cover;
    }

    form{
      padding: 20px 170px 20px 20px;
      h2{
        font-size: 58px;
        line-height: 120%;
        margin-bottom: 30px;
      }

      .form-group{
        margin-top: 20px;

        label{
          margin-bottom: 10px;
          display: block;
        }

        input, textarea{
          width: 100%;
          padding: 20px 30px;
          border: 1px solid rgba(157, 174, 182, 0.2);

          &:focus {
            border-color: $mainColor; // Изменение цвета границы на зеленый при фокусе
            outline: none; // Убирает стандартное выделение
          }
        }

        button{
          width: 100%;
          background-color: #2bb446;
          padding: 20px 50px;
          color: #FFF;
          font-size: 18px;
          margin-top: 20px;
          border: 1px solid #2bb446;
          transition: 0.4s;
          text-transform: uppercase;
          letter-spacing: 1.2px;
        }
      }

      .from-group__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr; // Создание двух равных колонок
        gap: 20px; // Отступ между колонками
        align-items: center;
      }
    }
  }
}

/* Медиа-запросы должны идти после основных стилей */
@media screen and (max-width: 1280px) {
  .form__section {
    .flex__item-form {
      form {
        padding: 20px;
        h2 {
          font-size: 48px ;
          line-height: 100%;
        }
        .from-group__buttons div {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .form__section {
    padding: 0 20px;
    gap: 0;
    .flex__item-form {
      flex: 1 1 100%;
      &:nth-child(1) {
        flex: 0 0 0%;
      }
      img {
        display: none;
      }
      form {
        h2 {
          font-size: 130em;
        }
      }
    }
  }
}

@media screen and (max-width: 578px) {
  .form__section {
    padding: 0 20px;
    margin-top: 50px;
    gap: 0;
    .flex__item-form {
      flex: 1 1 100%;
      &:nth-child(1) {
        flex: 0 0 0%;
      }
      img {
        display: none;
      }
      form {

        padding: 0;
        h2 {
          font-size: 130em;
          text-align: center;
          margin-bottom: 10px;
        }


        .form-group{
          margin-top: 10px;
        }

        .from-group__buttons{
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
