.preim__section{

  .container__preim-flex{
    margin-top: 50px;
    display: flex;
    gap: 30px;

    .flex__item-preim{
      flex: 1 1 calc(25% - 30px);
      min-height: 320px;
      background-size: 120%;
      padding: 20px;
      display: flex;
      align-items: end;
      position: relative;
      transition: .4s;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)); // Градиент от прозрачного к черному
        z-index: 1; // Градиент будет под содержимым элемента
      }

      &:hover{
        background-size: 130%;
        transition: .4s;
        h4{
          font-size: 23px ;
          transition: .4s;
        }

      }


      h4{
        font-size: 21px ;
        line-height: 1.4 ;
        position: relative;
        z-index: 2;
        color: #FFF;
        transition: .4s;
      }
    }
  }
  p{
    margin-top: 40px;
    max-width: 100%;
    text-align: justify;
    font-size: 20px;
    line-height: 140%;
    color: #6d7a80;
  }
}