.service__section{
  width: 100%;
  margin-top: 80px;
  background-color: #F0F4F5;
  .service__container-wrapper{
    padding-top: 80px;
    padding-bottom: 80px;

    .container__service{
      margin-top: 60px;
      h3{
        text-transform: uppercase;
        color: #2BB446;
        font-weight: 600;
        font-size: 18px;
      }

      .container__service-flex{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: stretch;
        margin-top: 30px;


        .service__item{
          padding: 20px;
          background-color: #FFF;
          flex: 0 0 calc(25% - 20px);
          transition: .4s;

          h5{
            font-size: 19px;
            transition: .4s;
          }

          p{
            margin-top: 20px;
            font-weight: 500 ;
            font-size: 15px ;
            transition: .4s;
          }
          a{
            display: block;
            margin-top: 20px;
            font-size: 22px;
            color: #000;
            transition: .4s;
            color: gray;
          }
          &:hover{
            background-color: $mainColor;

            h5{
              font-size: 22px;
              transition: .4s;
              color: #FFF;
            }

            p{
              margin-top: 20px;
              font-weight: 500 ;
              font-size: 15px ;
              color: #FFF;
              transition: .4s;
            }
            a{
              display: block;
              margin-top: 20px;
              font-size: 25px;
              transition: .4s;
              color: #FFF;
              margin-left: 10px;


              &:before{

              }
            }
          }
        }
      }
    }
  }
}