

.wrapper__section{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;

  .container__wrapper-flex{
    display: flex;
    align-items: center;

    .flex__item{
      flex: 1 1 calc(50% - 50px);

      h1{
        font-size: 64px;
        line-height: 120%;
        color: #2e3639;
      }

      p{
        font-size: 20px;
        line-height: 140%;
        max-width: 700px;
        color: #6d7a80;
        margin-top: 50px;
      }

      button{
        background-color: $mainColor;
        padding: 20px 50px;
        color: #FFF;
        border: none;
        font-size: 18px;
        margin-top: 60px;
        border: 1px solid $mainColor;
        transition: .4s;
        text-transform: uppercase;
        letter-spacing: 1.2px;

        &:hover{
          color: $mainColor;
          background-color: #FFF;
          transition: .4s;
        }
      }
    }

    .slider{
      display: flex;
      gap: 30px;
      .slider__item{
        padding: 20px;
        flex: 1 1 calc(50% - 30px);
        background-size: 140%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        min-height: 747px;
        position: relative; // Добавлено для относительного позиционирования градиента
        transition: background-size 0.5s ease;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(43, 180, 70, 0.45);
          z-index: 1; // Градиент будет под содержимым элемента
        }

        &:hover{
          background-size: 150%;
          transition: background-size 0.5s ease;
          h3{
            font-size: 39px;
            transition: .4s;
          }

          span{
            font-size: 23px;
            transition: .4s;
          }


        }

        h3{
          color: #FFF;
          position: relative;
          z-index: 2;
          font-size: 36px;
          line-height: 100%;
          transition: .4s;
        }
        p{
          font-size: 16px;
          line-height: 140%;
          color: #FFF;
          position: relative;
          z-index: 2;
          margin-top: 20px;

        }

        span{
          margin-top: 20px;
          font-size: 20px;
          line-height: 140%;
          color: #FFF;
          position: relative;
          z-index: 2;
          font-weight: 800;
          transition: .4s;

        }
      }
    }
  }
}

@media screen and (max-width: 1500px)
{

  .wrapper__section{

    .container__wrapper-flex{
      display: flex;
      align-items: center;
      gap: 20px;

      .flex__item{
        flex: 1 1 calc(50% - 20px);
      }

      .slider{
        display: flex;
        gap: 20px;
        .slider__item{
          min-height: 550px;

        }
      }
    }
  }
}




@media screen and (max-width: 1280px)
{

  .wrapper__section{

    .container__wrapper-flex{
      display: flex;
      align-items: center;
      gap: 20px;

      .flex__item{
        flex: 1 1 calc(50% - 20px);
      }

      .slider{
        display: flex;
        gap: 20px;
        .slider__item{
          min-height: 350px;

        }
      }
    }
  }
}



@media screen and (max-width: 1280px)
{

  .wrapper__section{
    font-size: calc(100vw/1700);
    .container__wrapper-flex{

      padding: 0px 20px;

      .flex__item{

        h1{
          font-size: 64em;
        }

        p{
          font-size: 36em;
        }
      }
    }
  }
}


@media screen and (max-width: 900px)
{

  .wrapper__section{
    font-size: calc(100vw/1700);

    .container__wrapper-flex{
      margin-top: 30px;
      flex-wrap: wrap;

      padding: 0px 20px;

      .flex__item{

        h1{
          font-size: 100em;
        }

        p{
          font-size: 50em;
        }

        button{
          display: none;
        }
      }
    }
  }
}


@media screen and (max-width: 578px)
{

  .wrapper__section{
    font-size: calc(100vw/1700);

    .container__wrapper-flex{
      margin-top: 30px;
      flex-wrap: wrap;

      padding: 0px 20px;

      .flex__item{

        h1{
          font-size: 150em;
        }

        p{
          margin-top: 20px;
          font-size: 80em;
        }

        button{
          display: none;
        }

      }

      .slider{
        flex-wrap: wrap;
        .slider__item{

          h3{

            font-size: 22px;
          }
          p{
            font-size: 15px;
            margin-top: 20px;
          }

          span{
            margin-top: 15px;
            font-size: 18px;

          }

          &:hover{

            h3{
              font-size: 24px;
            }

            span{
              font-size: 20px;
            }


          }
        }
      }
    }
  }
}


@media screen and (max-width: 480px){
  .wrapper__section{
    font-size: calc(100vw/1700);

    .container__wrapper-flex{

      .slider{
        flex-wrap: wrap;
        .slider__item{
          flex: 1 1 calc(100%);
          min-height: 250px;
        }
      }
    }
  }
}