$mainColor: #2bb446;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
}

img{
  width: 100%;
}


a, button, input{
  cursor: pointer;
}

.preim__section,
.service__container-wrapper,
.whywe__section,
.about__section,
.reviews__section,
.blog__section,
.blog__section__page,
.wrapperservices__section,
.tab,
.service__wrapper__section,
.anchors__section,
.main__service__section,
.promo__section,
.content__section,
.accordions,
.main__contacts__section,
.about__main__section,
.blog__single__section{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 80px;

  h2{
    font-size: 58px;
    line-height: 120%;
  }

  .breadcrumbs{
    color: #9b9b9b;
    font-weight: 600;
    margin-bottom: 50px;
  }
}

.page__reviews,
.blog__section__page,
.blog__single__section{
  margin-top: 10px;
}




@import "./blocks/header";
@import "./blocks/wrapper";
@import "./blocks/preim";
@import "./blocks/services";
@import "./blocks/whywe";
@import "./blocks/formblock";
@import "./blocks/about";
@import "./blocks/reviews";
@import "./blocks/blog";
@import "./blocks/blogsingle";
@import "./services/services";
@import "./services/wrapperservices";
@import "./services/tabs";
@import "./service/service";
@import "./service/anchors";
@import "./service/servicemain";
@import "./service/promoblock";
@import "./service/content";
@import "./service/faq";
@import "./contacts/main";
@import "./about/about";
