$mainColor: #2bb446;



.slick-slider{
  min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  width: 100%;
}
/* Лента слайдов */
.slick-track{
  display: flex;
  align-items: flex-start;
  gap: 30px;
  min-width: 100% !important;
}

/* Слайд */
.slick-slide{
  flex: 1 1 calc(25% - 30px);
}



/* Конкретный слайдер */
.slider_all {
  position: relative;
  padding: 0px 0px;
}

.slider_all .slick-arrow{
  position: absolute;
  top: -50px;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2e3639;
  border: none;

}
.slider_all .slick-prev{
  right: 30px;
  background: url('../img/sl-arrow_l.png')  no-repeat;
  background-size: cover;
}
.slider_all .slick-arrow.slick-next{
  right: 0;
  background: url('../img/sl-arrow_r.png')  no-repeat;
  background-size: cover;
}
.slider_all .slick-arrow.slick-disabled{
  opacity: 0.2;
}

.slider_all .slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider_all .slick-dots li{
  list-style: none;
  margin: 0px 10px;
}
.slider_all .slick-dots button{
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.slider_all .slick-dots li.slick-active button{
  background-color: transparent;
  border: 1px solid #fff;
}




@media screen and (max-width: 578px) {

  .slick-track{
   gap: 0px;
  }



  .slider_all .slick-arrow{
    top: -18px;
    width: 20px;
    height: 20px;

  }
}







.slider__reviews {
  position: relative;
  padding: 0px 0px;
  margin-top: 90px;
}

.slider__reviews .slick-arrow{
  position: absolute;
  top: -50px;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2e3639;
  border: none;

}
.slider__reviews .slick-prev{
  right: 40px;
  background: url('../img/sl-arrow_l.png')  no-repeat;
  background-size: cover;
}
.slider__reviews .slick-arrow.slick-next{
  right: 10px;
  background: url('../img/sl-arrow_r.png')  no-repeat;
  background-size: cover;
}
.slider__reviews .slick-arrow.slick-disabled{
  opacity: 0.2;
}

.slider__reviews .slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__reviews .slick-dots li{
  list-style: none;
  margin: 0px 10px;
}
.slider__reviews .slick-dots button{
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.slider__reviews .slick-dots li.slick-active button{
  background-color: transparent;
  border: 1px solid #fff;
}



@media screen and (max-width: 578px) {

  .slick-track{
    gap: 0px;
  }



  .slider__reviews .slick-arrow{
    top: -20px;
    width: 20px;
    height: 20px;

  }
}



.slider__service {
  position: relative;
  padding: 0px 0px;
  margin-top: 90px;
}

.slider__service .slick-track{
  gap: 0;
}

.slider__service .slick-arrow{
  position: absolute;
  top: -20px;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2e3639;
  border: none;

}
.slider__service .slick-prev{
  right: 40px;
  background: url('../img/sl-arrow_l.png')  no-repeat;
  background-size: cover;
}
.slider__service .slick-arrow.slick-next{
  right: 10px;
  background: url('../img/sl-arrow_r.png')  no-repeat;
  background-size: cover;
}
.slider__service .slick-arrow.slick-disabled{
  opacity: 0.2;
}

.slider__service .slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__service .slick-dots li{
  list-style: none;
  margin: 0px 10px;
}
.slider__service .slick-dots button{
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.slider__service .slick-dots li.slick-active button{
  background-color: transparent;
  border: 1px solid #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
}

img{
  width: 100%;
}


a, button, input{
  cursor: pointer;
}

.preim__section,
.service__container-wrapper,
.whywe__section,
.about__section,
.reviews__section,
.blog__section,
.blog__section__page,
.wrapperservices__section,
.tab,
.service__wrapper__section,
.anchors__section,
.main__service__section,
.promo__section,
.content__section,
.accordions,
.main__contacts__section,
.about__main__section,
.blog__single__section,
.container__footer{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 80px;

  h2{
    font-size: 58px;
    line-height: 120%;
  }

  .breadcrumbs{
    color: #9b9b9b;
    font-weight: 600;
    margin-bottom: 50px;
  }
}

.page__reviews,
.blog__section__page,
.blog__single__section{
  margin-top: 10px;
}

.overlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 14;
  display: none;
  background-color: rgba(46, 54, 57, 0.63);
}




@import "./blocks/header";
@import "./blocks/wrapper";
@import "./blocks/preim";
@import "./blocks/services";
@import "./blocks/whywe";
@import "./blocks/formblock";
@import "./blocks/about";
@import "./blocks/reviews";
@import "./blocks/blog";
@import "./blocks/blogsingle";
@import "./blocks/footer";
@import "./services/services";
@import "./services/wrapperservices";
@import "./services/tabs";
@import "./service/service";
@import "./service/anchors";
@import "./service/servicemain";
@import "./service/promoblock";
@import "./service/content";
@import "./service/faq";
@import "./contacts/main";
@import "./about/about";
@import "./blog/blog";
@import "./adaptive";

