

.content__section{

  .main__content{
    margin-top: 50px;
    font-size: 20px;
  }

  ul,ol{
    margin-left: 30px;
    color: $mainColor;
    position: relative;
    li{
      color: #000;
    }
  }
}


@media screen and (max-width: 578px){
  .content__section{

    .main__content{
      margin-top: 20px;
      font-size: 80em;
    }

    ul,ol{
      margin-left: 30px;
      color: $mainColor;
      position: relative;
      li{
        color: #000;
      }
    }
  }
}