.accordions {

  h2{
    margin-bottom: 50px;
  }

  .accordion-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;

    .accordion-title {
      cursor: pointer;
      padding: 20px;
      transition: all 0.4s;
      color: $mainColor;
    }
  }




  .accordion-item .accordion-title h2 {
    margin: 0;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .accordion-item .accordion-title i.fa-chevron-down {
    transform: rotate(0);
    transition: 0.4s;
  }

  .accordion-item .accordion-title i.fa-chevron-down.chevron-top {
    transform: rotate(-180deg);
  }

  .accordion-item .accordion-content {
    display: none;
    line-height: 1.7;
    padding: 20px;
    border-radius: 0 0 5px 5px;
  }

  .accordion-item .accordion-content.active {
    display: block;
  }

  .accordion-item .accordion-content p {
    margin: 0;
  }

}



@media screen and (max-width: 900px){
  .accordions {

    h2{
      max-width: 100% !important;
    }

    .accordion-item {

      .accordion-title {
        max-width: 100% !important;
      }
    }

  }
}



@media screen and (max-width: 578px){
  .accordions {

    h2{
      max-width: 100% !important;
      margin-bottom: 20px;
    }

    .accordion-item {

      .accordion-title {
        max-width: 100% !important;
        padding: 20px 0px;
        h2{
          font-size: 90em;
        }
      }

      .accordion-content{

        padding: 0px;
        p{
          font-size: 80em;
        }
      }
    }

  }
}

