

.promo__section{
  background-color: $mainColor;
  padding: 70px;

  .container__promo{
    display: flex;
    gap: 40px;
    align-items: center;
    .promo__item{
      flex:  1 1 calc(50% - 40px);

      h6{
        color: #FFF;
        font-size: 25px;
      }

      .form-group{
        margin-top: 20px;

        label{
          margin-bottom: 10px;
          display: block;
          color: #FFF;
          font-size: 18px;
        }

        input, textarea{
          width: 100%;
          padding: 20px 30px;
          border: 1px solid #FFF;
          background-color: transparent;
          color: #FFF;

          &:focus {
            border: 1px solid #FFF; // Изменение цвета границы на зеленый при фокусе
            outline: none; // Убирает стандартное выделение
          }
        }

        button{
          width: 100%;
          background-color: transparent;
          padding: 20px 50px;
          color: #FFF;
          font-size: 18px;
          border: 1px solid #FFF;
          transition: 0.4s;
          text-transform: uppercase;
          letter-spacing: 1.2px;
        }

        .send{
          color: #FFF;
        }

      }
      .from-group__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr; // Создание двух равных колонок
        gap: 20px; // Отступ между колонками
        align-items: center;
        margin-top: 20px;
      }
    }
  }
}


@media screen and (max-width: 1280px) {
  .promo__section{
    padding: 40px !important;
  }
}


@media screen and (max-width: 900px) {
  .promo__section{
    .container__promo{
      .promo__item{
        flex:  1 1 calc(100%);

        &:first-child{
          display: none;
        }

        .form-group{
          margin-top: 20px;
          .send{
            color: #FFF;
            font-size: 16px;
          }

        }
      }
    }
  }
}


@media screen and (max-width: 578px) {
  .promo__section{
    padding: 30px 20px !important;
    .container__promo{
      .promo__item{
        flex:  1 1 calc(100%);

        h6{
          font-size: 100em;
        }

        &:first-child{
          display: none;
        }

        .form-group{
          margin-top: 20px;

          label{
            font-size: 16px;
          }

          input{
            padding: 20px;
          }

          button{
            font-size: 60em;
            padding: 20px;
          }
          .send{
            color: #FFF;
            font-size: 16px;
          }

        }

        .from-group__buttons{
          grid-template-columns: 1fr;
        }
      }
    }
  }
}